[menu]
start = "id-1"
activeNode = 0
listItemClasses = "nav-item"
primaryClasses = "navbar-nav"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2
==
<div class="container-fluid">
	<nav class="navbar fixed " id="headernavbar">
		<div class="row between-xs middle-xs width100">
			<div class="col-md-3 col-xs-10">
				<a href="{{'home'|page}}" class="navbar-brand" style="background-image: url('{{ this.theme.site_logo.getPath() }}'); background-position: 16px 0; background-size: contain;"></a>
			</div>
			<div class="col-md-9 col-xs-2 end-xs end-md">
				<div id="menuToggle">
					<input type="checkbox" />
					<span></span>
					<span></span>
					<span></span>
					{% component 'menu' %}
				</div>
				<div class="navbar-collapse collapse " id="headerNavbarNav" style="display: none;">
				{% component 'menu' %}
			</div>
			</div>
		</div>
	</nav>
</div>

{% if page_id == 'home' and tag_line %}
<div class="header-image {{page_id}}">
		<h1 class="underline">{{tag_line|raw}}
			<p><a class="btn btn-primary" href="{{'about'|page}}">Read more</a></p>
		</h1>
</div>
{% endif %}
{% if page_id == 'about' %}
<div class="header-image {{page_id}}">

</div>
{% endif %}

