
.contact_info{
  .card-container {
    width: 100%;
    .cards{
      justify-content: flex-start!important;
    }
   .card{
     border: none;
     border-radius: 5px;
     padding: 20px!important;
     margin: 20px 0!important;
     font-size: 1em;
     width: 196px;
     height: auto;
     background: @white-color;
     -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
     -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
     margin-right: 20px!important;
     .breakpoint-small-down({
      margin: 20px auto!important;
     });
   }

    .country{
      display: none;
    }
    .p-mail, .p-position{
      display: none;
    }
    .position{
      font-size: 16px;
      color: @default-color;
      font-size: 20px;
      line-height: 32px;
      font-weight: 600;
      padding: 0!important;
    }
    .email{
      padding: 20px 0!important;
      font-size: 16px;
      text-decoration: underline;
    }
  }
}


.card.profile {
    width: 30% !important;
    padding: 20px !important;

    .breakpoint-small-down({
      width: 100% !important;
      margin-bottom: 20px;
    });
    .card-img-top {
        margin: 0 0 1rem 0!important;
        width: 50%;
    }
}


.card.profile .card-body {
    background: none !important;
    min-height: auto !important;
    padding: 0 !important;
    .font-size(0.8);
}

.card.profile .card-header {
    font-weight: bold;
    text-align: left !important;
    color: @default-color;
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
}

.contact_info h3{
  font-weight: bold;
}

.coordinator_image img{
  border-radius: 50%;
  width: 100%;
}

.dorsal{
  display: block;
  cursor: pointer;
  color: @link-color;
  margin-top: 20px;
}

.toogle-contact-paragraphs { display: none; }