.library{
  .row.center-xs.mb-1{
    display: none;
  }
}

.library-item-top{
  background: url('../../assets/images/pattern-long.svg') bottom left repeat-x;
  height: 38px;
  margin-top: 40px;
}

.library-item{
  background: @white-color;
  -moz-box-shadow: 0 20px 20px -2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 20px 20px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 20px -2px rgba(0, 0, 0, 0.1);
  padding: 20px!important;

  color: @default-color!important;
  font-size: 16px;
  position: relative;

  display: block;
  .breakpoint-small-down({
    height: auto;
  });


  h3{
    font-weight: bold;
    font-size: 20px;
  }

  .text-bold{
    font-weight: normal;
    font-size: 12px;
  }
   .body div{
     display: inline-flex;
     padding: 20px;
     flex-direction: column;
   }

  .text-ligth{
    color: @default-color!important;
  }

  .bg-download-btn{
    //background: #412e19 url("../../assets/images/download.svg") right center no-repeat;
    background: #412e19;
  }
}

.library .tabs{
    margin-bottom: 40px;
    width: 100%;
    display: block;
    float: left;
    .btn-primary{
        .breakpoint-small-down({
            margin-bottom: 20px;
        });
    }

    form{
        width: fit-content;
        float: left;
        .breakpoint-small-down({
            width: auto;
            float: unset;
            max-width: 100%;
        });
    }

    a, button{
        margin-right: 20px;
        width: fit-content;
        font-weight: bold;
        cursor: pointer;
        color: @yellow-color;
        border: none;
        background: none;
        font-size: 18px;
        .breakpoint-small-down({
            margin-left: 0px;
            width: 100%;
            text-align: center;
            float: left;
            text-align: center;
            padding: 5px 0;
        });

        &.active{
            opacity: 0.5;
        }
    }

}

#sortSelect{
    width: fit-content;
}

.libraryForm{
    display: inline-block;
}
