.library{
  .row.center-xs.mb-1{
    display: none;
  }
}

.library-item-top{
  background: url('../../assets/images/pattern-long.svg') bottom left repeat-x;
  height: 38px;
  margin-top: 40px;
}

.library-item{
  background: @white-color;
  -moz-box-shadow: 0 20px 20px -2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 20px 20px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 20px -2px rgba(0, 0, 0, 0.1);
  padding: 20px!important;

  color: @default-color!important;
  font-size: 16px;
  position: relative;

  display: block;
  .breakpoint-small-down({
    height: auto;
  });
  

  h3{
    font-weight: bold;
    font-size: 20px;
  }

  .text-bold{
    font-weight: normal;
    font-size: 12px;
  }
   .body div{
     display: inline-flex;
     padding: 20px;
     flex-direction: column;
   }

  .text-ligth{
    color: @default-color!important;
  }

  .bg-download-btn{
    //background: #412e19 url("../../assets/images/download.svg") right center no-repeat;
    background: #412e19;
  }
}