url = "/media-center/press-releases"
layout = "default"
title = "Press releases"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[builderList mediaPressReleasesList]
modelClass = "pensoft\Media\Models\Pressreleases"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<?php
use Pensoft\Media\Models\Pressreleases;

function onStart(){
	$this['mediaPressreleasesList'] =  Pressreleases::orderBy('date', 'desc')->get();
}
?>
==
<div class="container">
	<a href="/media-center" class="back-to">&#10094; {{ 'Back to Media center' |_}}</a>
	<h1 class="display-1">{{ 'Press releases' |_}}</h1>
	<div class="row between-md">
		{% set records = mediaPressreleasesList %}
		{% set displayColumn = mediaPressreleasesList.displayColumn %}
		{% set noRecordsMessage = mediaPressreleasesList.noRecordsMessage %}
		{% set detailsPage = mediaPressreleasesList.detailsPage %}
		{% set detailsKeyColumn = mediaPressreleasesList.detailsKeyColumn %}
		{% set detailsUrlParameter = mediaPressreleasesList.detailsUrlParameter %}

		{% for record in records %}
		{# Use spaceless tag to remove spaces inside the A tag. #}
		{% spaceless %}
		<div class="col-xs">
			<div class="card-container-top"></div>
			<div class="card-container">
				<span class="card_title">{{record.name}}, {{record.date |date('F Y')}}</span>
				<div class="body" style="min-height: 220px!important;">{{record.description | raw}}</div>
				<div class="row link mt-3">
					{% for link in record.link %}
					<div class="col-xs-3"><a href="{{link.url}}" class="btn btn-primary" target="_blank" style="display: inline; padding: 10px 20px; margin-right: 20px;">{{link.text}}</a></div>
					{% endfor %}

				</div>
			</div>
		</div>


		{% endspaceless %}
		{% else %}
		{{ noRecordsMessage }}
		{% endfor %}
	</div>
</div>