<div class="list">
    {% for partner in partners %}
    <div class="list-item align-items-start row" style="margin-top: 0;">
        {%if partner.cover and not is_hidden_cover %}
        {%if partner.instituion_url %}<a href="{{partner.instituion_url}}" target="_blank">{% endif %}<div class="list-item-image gutter-right contain col-xs-12 col-md-2" style="background: url('{{partner.cover|crop_image|resize(280, null, {mode: 'crop'})}}') left no-repeat; background-size: contain;"></div>{%if partner.instituion_url %}</a>{% endif %}
        {% endif %}
        {% if show_covers_on_top %}
        <div class="col-xs-12 col-md-12">{%if partner.instituion_url %}<a href="{{partner.instituion_url}}" target="_blank">{% endif %}<img src="{{partner.cover|crop_image|resize(null, 170, {mode: 'crop'})}}">{%if partner.instituion_url %}</a>{% endif %}</div>
        {% endif%}
        <div class="list-item-column col-xs-12 col-md">
            {% if not hide_list %}
            {% if partner.instituion %}
            <h3>{%if partner.instituion_url %}<a href="{{partner.instituion_url}}" target="_blank">{% endif %}{{partner.instituion}}{%if partner.instituion_url %}</a>{% endif %}</h3>
            {% endif %}

            {% if partner.city.name or partner.country.count() %}
            <div class="info">
                <i class="pr normal p-location"></i>
                {% if partner.city.name %}
                {{partner.city.name}}
                {% endif %}
                {% if partner.country.count() %}
                {% for country in partner.country %}
                {% if partner.city.name %}, {% endif %}
                {{country.name}}{{ not loop.last ? ',' }}
                {% endfor %}
                {% endif %}
            </div>
            {% endif %}

            {% if partner.email and __SELF__.property('templates') != 'template5' %}
            <div class="info"><i class="pr normal p-mail"></i> <a href="mailto:{{partner.email}}">{{'Contact' |_}}</a></div>
            {% endif %}
            {% if partner.email and __SELF__.property('templates') == 'template5' %}
            <div class="info"><i class="pr normal p-mail"></i> <a href="mailto:{{partner.email}}">{{partner.email}}</a></div>
            {% endif %}
            {% if partner.instituion_url and __SELF__.property('templates') == 'template5' %}
            <div class="info"><i class="pr normal p-website"></i> <a href="{{partner.instituion_url}}" target="_blank">{{partner.instituion_url}}</a></div>
            {% endif %}
            <div class="list-item-body">
                {{partner.content|raw}}
            </div>
            {% endif %}

            <div>
                {% if partner.instituion_url and show_url_button %}<a href="{{partner.instituion_url}}" target="_blank" class="btn btn-primary">{{'Visit website' |_}}</a>{% endif %}
                {% if __SELF__.property('related-profiles') and partner.cardprofiles.count %}<a href="javascript:void(0);" onclick="onInsider({{partner.id}});" class="btn btn-primary">{{__SELF__.property('button_name')}}</a>{% endif %}
            </div>

            {% if insider_members.getIM(partner.id).count > 0 %}
            <div class="work_packages">
                <div id="accordion-insider-members">
                    <div class="accordion-border">
                        <div class="row middle-xs accordion-toggle">
                            <div class="col-xs start-xs"><span class="showmembers">{{'Show members' |_}}</span></div>
                            <div class="col-xs-2 end-xs plusminus"><span class="plus"></span></div>
                        </div>
                        <div class="accordion-content" style="display: none;">
                            <div class="row top-xs">
                                {% for profile in insider_members.getIM(partner.id) %}
                                <div class="col-xs-12 col-md-4">
                                    <div class="card profile card-profile">
                                        {% if profile.avatar %}
                                        <img class="card-img-top" alt="{{ profile.names }}" src="{{profile.avatar.thumb(290,290,{'mode':'crop'})}}" style="width: auto;">
                                        {% else %}
                                        <img class="card-img-top" alt="{{ profile.names }}" src="{{ 'CMS_icons_avatar.svg'|media }}" width="290" height="290">
                                        {% endif %}

                                        <h3 class="card-header">{{ profile.names}}</h3>
                                        <div class="card-body">
                                            {% if profile.position %}<div class="position"><i class="pr normal p-position"></i>{{ profile.position}}</div>{% endif %}

                                            {% if profile.email %}<div class="email"><i class="pr normal p-mail"></i><a href="mailto:{{profile.email}}">{{profile.email}}</a></div>{% endif %}
                                            <div class="body mt-1">{{ profile.content|raw}}</div>
                                        </div>
                                    </div>


                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
        {% if __SELF__.loggedIn %}
        <p><a class="edit-link" href="/admin/pensoft/partners/partners/update/{{partner.id}}" target="_blank">{{'Edit' |_}}</a></p>
        {% endif %}
    </div>
    {% endfor %}
</div>

