{% for record in videos %}
<div class="col-md-6 col-xs-12">
    <div class="card-container" style="max-width: 90%;
    height: 506px;
    margin-bottom: 20px;">
        <p class="font-weight-bold">{{record.name}}</p>
        {% if record.file %}
        <video controls="" width="100%"><source src="{{record.file.path}}" type="video/mp4"></video>

        <p>Attachment: {{record.file.file_name}}, {{record.file.size}}</p>

        <p><a class=" btn btn-primary large fluid download" href="{{ ''| page }}?{{queries}}&download={{record.file.id}}&file_name={{record.name|replace({' ': '_'})}}">Download</a></p>

        {% endif %}

        {% if record.youtube_url %}
        <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" src="{{record.youtube_url}}" width="100%" height="320"></iframe>

        <p>&nbsp;</p>
        {% endif %}

        {% if record.vimeo_url %}
        <iframe width="100%" height="320" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                src="{{record.vimeo_url}}">
        </iframe>
        <p>&nbsp;</p>
        {% endif %}
    </div>
</div>
{% endfor %}
